<div class="dashboard-header">
  <h1>Dashboard</h1>
  <p class="subtitle">Logged in as: <strong><%= current_user.name %></strong> (<%= current_user.role.titleize %>)</p>
</div>

<div class="dashboard-content">
  <% if current_user.admin? %>
    <%= render "admin_dashboard" %>
  <% else %>
    <%= render "teacher_dashboard" %>
  <% end %>

  
</div>
