<h2>Hello <%= @teacher.name %></h2>

<p>A new student has been assigned to you.</p>

<p>
Student:
<%= @student.name %>
</p>


<p>
<strong>Course:</strong>
<%= @student.course %>
</p>

<p>Regards,</p>

<p>ABC Academy</p>