<header class="header">
<h1>Student Management</h1>
  <nav class="navbar">
  <%= link_to "Dashboard",dashboard_path %>
  <%= link_to "Students List", students_path %>
  <%= link_to "Add Student", new_student_path %>
  </nav>
  </header>

