<h2>Hello <%= @student.name %></h2>

<p>Your marks have been published.</p>

<p>
Course:
<%= @student.course %>
</p>

<p>
Marks:
<%= @student.marks %>
</p>

<p>
Result:
<%= @student.result.capitalize %>
</p>

<p>Regards,</p>

<p>ABC Academy</p>