<h2>Hello <%= @student.name %>,</h2>

<p>Welcome to ABC Academy.</p>

<p>Your account has been created successfully.</p>

<p>
<strong>Course:</strong>
<%= @student.course %>
</p>

<p>
<strong>Teacher:</strong>
<%= @teacher&.name %>
</p>

<p>Regards,</p>

<p>ABC Academy</p>